{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Create Customer" %}{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row justify-content-center align-items-center">

        <!-- LEFT AD -->
        <div class="col-md-3 d-none d-md-block">
            <img src="{% static 'img/ad_left.jpg' %}" class="img-fluid rounded shadow" alt="Advertisement">
        </div>

        <!-- FORM -->
        <div class="col-md-5 col-sm-12">
            <div class="card p-4 shadow">
                <h3 class="text-center mb-3">{% trans "Create a New Customer" %}</h3>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button class="btn btn-primary w-100 mt-3">
                        {% trans "Create Customer" %}
                    </button>
                </form>
            </div>
        </div>

        <!-- RIGHT AD -->
        <div class="col-md-3 d-none d-md-block">
            <img src="{% static 'img/ad_right.jpg' %}" class="img-fluid rounded shadow" alt="Advertisement">
        </div>

    </div>

</div>
{% endblock %}
